html {
    height: 2160px;
    background-color: black;
    background-image: linear-gradient(to bottom, black, darkred);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.intro {
    padding: 2px;
    p {
        font-size: 25px;
        font-weight: bolder;
        margin-left: 25px;
        color: whitesmoke;
    }
}

.title {
    text-align: center;
    padding: 50px;
    margin-top: 175px;
    h1 {
        color: whitesmoke;
        font-size: 75px;
    }
    p {
        color: whitesmoke;
        font-size: 25px;
        margin: 10px 430px;
    }
}

.start a {
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 15px 20px;
    margin-left: 890px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.start a:hover {
    background-color: red;
    color: whitesmoke;
}

.container {
    width: 750px;
    padding: 70px;
    margin-top: 650px;
    margin-left: 600px;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    .question {
        color: whitesmoke;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .options {
        color: whitesmoke;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .option {
        display: block;
        margin-bottom: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        background-color: darkred;
        color: whitesmoke;
        font-weight: bold;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
        border: 2px solid whitesmoke;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

    .button:hover {
        background-color: #3071a9;
    }

    .result {
        color: whitesmoke;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .hide{
        display: none;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: darkred;
}